/*------ Settings ------*/
.checkbox-container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
  }
  
  .checkbox-container .eye {
    position: absolute;
    animation: keyframes-fill 0.5s;
    right: 17px;
}

.checkbox-container .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
    right: 17px;
  }
  
  /* ------ On check event ------ */
  .checkbox-container input:checked ~ .eye {
    display: none;
  }
  
  .checkbox-container input:checked ~ .eye-slash {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2);
    }
  }